@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&family=Roboto+Slab&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}
*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  z-index: 100;
}
